In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/ruijisun/Desktop/All TherMOOstat Feedback.csv')

In [5]:
df.head()

,Date,Building Name,Room,Comfort,Physical Activity,Clothing Level,Comment,Email_ID
0,1/2/16 16:45,Shields Library,NaN,Cold,NaN,NaN,NaN,2227.0
1,1/3/16 19:29,Wellman Hall,2,Hot,NaN,NaN,NaN,1067.0
2,1/4/16 8:04,University Services Building,145,Chilly,NaN,NaN,NaN,5881.0
3,1/4/16 8:34,Wellman Hall,3,Warm,NaN,NaN,NaN,4749.0
4,1/4/16 8:58,Haring Hall,2205,Hot,NaN,NaN,NaN,6934.0

In [9]:
# count each person's votes
df_id = df.groupby(['Email_ID']).count()
df_id

,Date,Building Name,Room,Comfort,Physical Activity,Clothing Level,Comment
Email_ID,,,,,,,
1.0,2,2,2,2,2,2,2
2.0,2,2,2,2,2,2,0
3.0,1,1,1,1,1,1,0
4.0,1,1,1,1,1,1,0
5.0,3,3,3,3,3,3,1
...,...,...,...,...,...,...,...
8746.0,2,2,2,2,2,2,0
8747.0,1,1,1,1,1,1,0
8748.0,1,1,1,1,1,1,0
8749.0,1,1,1,1,1,0,1
8750.0,1,1,1,1,0,0,0

In [10]:
# how many votes would one person submit?
df_id.sort_values('Comfort')

,Date,Building Name,Room,Comfort,Physical Activity,Clothing Level,Comment
Email_ID,,,,,,,
2533.0,1,1,1,0,0,0,0
5088.0,1,1,1,0,0,0,0
5544.0,1,1,1,0,0,0,0
6814.0,1,1,1,0,0,0,0
2838.0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...
1352.0,45,45,45,45,39,34,20
7787.0,45,45,45,45,32,17,11
6157.0,46,46,46,46,21,35,29
2305.0,59,59,59,57,5,3,55
4735.0,66,66,66,65,30,45,47